# Problem Statement

To build a machine learning system that can predict whether a credit card transection is legit or fraud.

# Work Flow

* Importing Libraries
* Importing Dataset
* Data Preprocessing
* Data Analysis
* Training and Testing data splitting 
* Model training (Logistic Regression)
* Model Evaluation
* Building a Prediction System

# Importing Libraries

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Importing Dataset

Link to dataset : https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

In [4]:
data = pd.read_csv('creditcard.csv')

#### Getting data shape

In [6]:
data.shape

(284807, 31)

#### Getting preview of the data

In [7]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

#### Getting information of the dataset

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

#### Checking for null values in the dataset

In [11]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

#### Distribution of legit and fraudalent transections

In [13]:
data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

The data is highly unbalanced. More than 99% of the data belongs to one of the two classes.
* 0 : Legit transection
* 1 : Fraud transection

# Separating data for analysis

In [14]:
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [18]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

#### Statistical measure of the data

In [19]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [20]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

#### Compare the values for both transections

In [21]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under-Sampling

Building a sample dataset containing similar distribution of normal transections and fraudulent transections.

#### Number of Fraudulent transections = 492

In [23]:
legit_sample = legit.sample(n=492)
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
115462,73884.0,1.230282,-0.963938,0.053399,-0.747278,-0.986670,-0.570239,-0.519531,-0.076598,-0.471986,...,-0.096800,-0.755081,-0.054834,-0.523019,0.238876,-0.436155,-0.025020,0.031526,130.00,0
985,744.0,0.846466,-0.648165,0.909723,1.278921,-0.848055,0.723489,-0.706530,0.453813,0.762523,...,0.238578,0.464747,-0.204267,-0.327269,0.330811,-0.217592,0.041951,0.037855,138.00,0
173575,121545.0,-1.854618,2.435159,-2.218324,-0.104698,-0.635472,-1.535007,-0.359563,1.389838,-0.329009,...,0.397604,0.999289,0.034660,-0.066239,-0.129421,-0.134273,-0.015466,0.025645,9.97,0
262692,160603.0,2.154795,-0.671437,-1.188393,-0.848170,-0.557608,-1.318830,-0.168931,-0.456032,-0.656637,...,-0.030742,-0.132824,0.248490,-0.010302,-0.177486,-0.432002,-0.032784,-0.049037,44.99,0
226359,144596.0,-2.142250,-0.351720,1.361411,0.326582,-0.192264,-0.605043,-0.280216,0.358147,-0.114954,...,0.239362,0.506494,-0.570817,0.084572,0.270350,0.814598,-0.295409,0.006125,84.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223807,143532.0,2.217075,-1.577949,-0.818695,-1.606124,-1.439580,-0.485344,-1.305962,-0.031498,-1.180452,...,-0.124942,0.037191,0.193999,-0.382368,-0.283482,-0.176751,0.005951,-0.057860,39.20,0
165770,117650.0,2.144436,-0.040505,-1.683114,0.125624,0.427859,-0.739489,0.187055,-0.325119,0.700673,...,0.191342,0.732130,-0.128661,-0.964203,0.394255,-0.039498,-0.017147,-0.068032,1.00,0
170758,120338.0,-0.169621,1.382723,1.074614,3.189866,-0.030566,0.287000,0.028167,0.587363,-1.281400,...,-0.056125,-0.332495,0.327329,-0.206631,-1.140549,-0.425493,0.006817,0.043837,15.73,0
19303,30161.0,1.122960,-0.220000,0.914632,0.994179,-0.420561,1.039023,-0.818843,0.479930,0.823705,...,-0.047500,0.026968,-0.079551,-0.835717,0.390811,-0.342095,0.078041,0.014376,9.99,0
223458,143392.0,-0.645373,0.656735,0.873945,1.122872,0.017609,0.391113,-0.093511,0.750876,-0.004386,...,-0.324887,-0.964831,0.179348,-0.525956,-0.832808,-0.996824,0.132374,0.099316,17.98,0

# Concatinating two dataframes to form new sample dataset

In [25]:
new_data = pd.concat([legit_sample, fraud], axis=0)
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
115462,73884.0,1.230282,-0.963938,0.053399,-0.747278,-0.986670,-0.570239,-0.519531,-0.076598,-0.471986,...,-0.096800,-0.755081,-0.054834,-0.523019,0.238876,-0.436155,-0.025020,0.031526,130.00,0
985,744.0,0.846466,-0.648165,0.909723,1.278921,-0.848055,0.723489,-0.706530,0.453813,0.762523,...,0.238578,0.464747,-0.204267,-0.327269,0.330811,-0.217592,0.041951,0.037855,138.00,0
173575,121545.0,-1.854618,2.435159,-2.218324,-0.104698,-0.635472,-1.535007,-0.359563,1.389838,-0.329009,...,0.397604,0.999289,0.034660,-0.066239,-0.129421,-0.134273,-0.015466,0.025645,9.97,0
262692,160603.0,2.154795,-0.671437,-1.188393,-0.848170,-0.557608,-1.318830,-0.168931,-0.456032,-0.656637,...,-0.030742,-0.132824,0.248490,-0.010302,-0.177486,-0.432002,-0.032784,-0.049037,44.99,0
226359,144596.0,-2.142250,-0.351720,1.361411,0.326582,-0.192264,-0.605043,-0.280216,0.358147,-0.114954,...,0.239362,0.506494,-0.570817,0.084572,0.270350,0.814598,-0.295409,0.006125,84.00,0

In [26]:
new_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [27]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93929.707317,-0.045309,-0.011089,0.126749,0.007879,0.080317,-0.040881,-0.002152,-0.027815,-0.032043,...,-0.007514,-0.048898,0.006985,-0.071592,0.009109,-0.050483,0.017230,0.006982,-0.011952,81.917134
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Splitting data into Features and Targets

In [28]:
X = new_data.drop(columns='Class', axis=1)
Y = new_data['Class']

In [29]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
115462,73884.0,1.230282,-0.963938,0.053399,-0.747278,-0.986670,-0.570239,-0.519531,-0.076598,-0.471986,...,0.231598,-0.096800,-0.755081,-0.054834,-0.523019,0.238876,-0.436155,-0.025020,0.031526,130.00
985,744.0,0.846466,-0.648165,0.909723,1.278921,-0.848055,0.723489,-0.706530,0.453813,0.762523,...,-0.002306,0.238578,0.464747,-0.204267,-0.327269,0.330811,-0.217592,0.041951,0.037855,138.00
173575,121545.0,-1.854618,2.435159,-2.218324,-0.104698,-0.635472,-1.535007,-0.359563,1.389838,-0.329009,...,-0.132135,0.397604,0.999289,0.034660,-0.066239,-0.129421,-0.134273,-0.015466,0.025645,9.97
262692,160603.0,2.154795,-0.671437,-1.188393,-0.848170,-0.557608,-1.318830,-0.168931,-0.456032,-0.656637,...,0.093077,-0.030742,-0.132824,0.248490,-0.010302,-0.177486,-0.432002,-0.032784,-0.049037,44.99
226359,144596.0,-2.142250,-0.351720,1.361411,0.326582,-0.192264,-0.605043,-0.280216,0.358147,-0.114954,...,-0.065949,0.239362,0.506494,-0.570817,0.084572,0.270350,0.814598,-0.295409,0.006125,84.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [30]:
Y

115462    0
985       0
173575    0
262692    0
226359    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# Splitting dataset into Training and Testing data

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [32]:
print(X.shape, X_train.shape, X_test.shape)
print(Y.shape, Y_train.shape, Y_test.shape)

(984, 30) (787, 30) (197, 30)
(984,) (787,) (197,)

# Model Training

In [34]:
model = LogisticRegression(n_jobs=-1)

In [35]:
model.fit(X_train, Y_train)

LogisticRegression(n_jobs=-1)

# Model Evaluation

#### Accuracy on training data

In [37]:
train_prediction = model.predict(X_train)
acc = accuracy_score(train_prediction, Y_train)
print("Accuracy of model on Training data is", acc*100,'%')

Accuracy of model on Training data is 94.0279542566709 %

#### Accuracy on testing data

In [39]:
test_prediction = model.predict(X_test)
acc2 = accuracy_score(test_prediction, Y_test)
print("Accuracy of model on testing data is", acc2*100)

Accuracy of model on testing data is 92.38578680203045

# Building a Prediction System

In [46]:
cols = list(X.columns)
li = []
for i in cols:
    x = float(input(f'Enter the value of {i} : '))
    li.append(x)

list_to_numpy_array = np.asarray(li)
reshaped_input = list_to_numpy_array.reshape(1,-1)
prediction = model.predict(reshaped_input)

if prediction[0] == 1:
    print("This is a FRAUDULANT TRANSECTION")
else:
    print("This is a LEGIT TRANSECTION")

Enter the value of Time : 0
Enter the value of V1 : 1.3598071336738
Enter the value of V2 : -0.0727811733098497
Enter the value of V3 : 2.53634673796914
Enter the value of V4 : 1.37815522427443
Enter the value of V5 : -0.338320769942518
Enter the value of V6 : 0.462387777762292
Enter the value of V7 : 0.239598554061257
Enter the value of V8 : 0.0986979012610507
Enter the value of V9 : 0.363786969611213
Enter the value of V10 : 0.0907941719789316
Enter the value of V11 : -0.551599533260813
Enter the value of V12 : -0.617800855762348
Enter the value of V13 : -0.991389847235408
Enter the value of V14 : -0.311169353699879
Enter the value of V15 : 1.46817697209427
Enter the value of V16 : -0.470400525259478
Enter the value of V17 : 0.207971241929242
Enter the value of V18 : 0.0257905801985591
Enter the value of V19 : 0.403992960255733
Enter the value of V20 : 0.251412098239705
Enter the value of V21 : -0.018306777944153
Enter the value of V22 : 0.277837575558899
Enter the value of V23 : -0.110473910188767
Enter the value of V24 : 0.0669280749146731
Enter the value of V25 : 0.128539358273528
Enter the value of V26 : -0.189114843888824
Enter the value of V27 : 0.133558376740387
Enter the value of V28 : -0.0210530534538215
Enter the value of Amount : 149.62
This is a LEGIT TRANSECTION

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(